<% if current_user %>
      <h2 class="mt-3">Welcome <%= current_user.name %></h2>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "bg-red-400 hover:bg-red-700 text-white font-medium py-2 px-4 rounded focus:outline-none focus:shadow-outline pointer-events-auto", 'data-ripple-light': true, data: { turbo: false } %>
<% end %>
<ul>
  <% @users.each do |user| %>
    <li> 
    <%= link_to(render('user_card', user: user), user_path(user)) %>
    </li>
  <% end %>
</ul>